html {
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 1;
    background-color: white;
    padding: 5rem;
    color: $text-color;
    font-weight: 400;
}
.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}
.container {
    max-width: 157.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}
.heading {
    font-weight: bold;
    line-height: 1.25;
    font-size: 40px;
    text-transform: capitalize;
}

.text {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: $text-light-color;
    &--small {
        font-size: 12px;
    }
}
.text--primary {
    color: $primary;
}
.text--secondary {
    color: $secondary;
}
.btn {
    display: inline-block;
    border-radius: 12px;
    border: none;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 4.5rem;
    &-primary {
        color:white;
        background-color: $primary;
        transition: all 0.2s linear;
        &:hover,
        &:focus {
            background-color: rgba($primary, 0.8);
        }
    }
    .layout {
        display:flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 16rem;
        & > dive:first-child {
            width: 100%;
            max-width: 76rem;
        }
    }
}
.underline {
    text-decoration: underline;
}
@media screen and (max-width: 1599px) {
    html {
        font-size: 40%;
    }
}