html {
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    line-height: 1;
    background-color: white;
    padding: 5rem;
    color: $text-color;
    font-weight: 400;
}
.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}
.container {
    max-width: 157.5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}
.heading {
    font-weight: bold;
    line-height: 1.25;
    font-size: 40px;
    text-transform: capitalize;
}

.text {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: $text-light-color;
}
.btn {
    display: inline-block;
    border-radius: 12px;
    border: none;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 4.5rem;
    &-primary {
        color:white;
        background-color: $primary;
    }
}

@media screen and (max-width: 1599px) {
    html {
        font-size: 40%;
    }
}