.blog {
    margin-bottom: 16rem;
    &-heading {
        text-align: center;
        margin-bottom: 13.5rem;
    }
    &-image {
        height: 45rem;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        margin-bottom: 6rem;
        &:after {
            content: '';
            position: absolute;
            inset: 0;
            background-color: rgba(0, 0, 0, 0.125);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 2;
        color: white;
        font-size: 30px;
        cursor: pointer;
        width: 8rem;
        height: 8rem;
        border-radius:8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5)
    }
    &-title {
        font-size: 20px;
        margin-bottom: 4rem;
        font-weight: 600;
    }
    &-desc {
        margin-bottom: 2rem;
    }
    &-author {
        color: inherit;
        font-weight: 600;
    }
    &-list {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 5rem 0;
    }
    &-item {
        display: grid;
        grid-template-columns: 1fr 13.5rem;
        grid-gap: 0 8rem;
        align-items: center;
    }
    &-item-title {
        font-weight: 600;
        margin-bottom: 3rem;
        line-height: 1.5;
    }
    &-item-author {
        font-weight: 300;
        color: $text-light-color;
    }
    &-item-image {
        position: relative;
        height: 0;
        padding-bottom: 100%;
        img {
            border-radius: 12px;
            height: 100%;
            width: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}