.destination {
    padding-top: 13.6rem;
    &-container {
        display:flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 16rem;
    }
    &-list {
        width: 100%;
        max-width: 76rem;
        display: flex;
        gap: 5rem;
        flex-wrap: wrap;
        //grid
        //display: grid;
        // grid-template-columns: 1fr 1fr;
        // grid-gap: 5rem;
    }
    &-item {
        width: calc(50% - 2.5rem);
    }
    &-image {
        border-radius: 20px;
        overflow: hidden;
        //aspect-ratio: 1/1; not widely support
        position: relative;
        padding-bottom: 100%;
        height: 0;
        margin-bottom: 3.5rem;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-title {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    &-place {
        font-weight: 300;
        font-size: 12px;
    }
    &-heading {
        margin-bottom: 5rem;
    }
    &-text {
        margin-bottom: 9rem;
    }
}