.footer {
    &-header {
        margin-bottom: 9rem;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    &-heading {
        max-width: 62rem;
    }
    &-bottom {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        grid-gap: 0 9rem;
    }
    &-desc {
        max-width: 47rem;
    }
    &-social {
        display: flex;
        align-items: center;
        margin-top: 8rem;
        gap: 0 5.5rem;
        font-size: 3rem;
        cursor: pointer;
        ion-icon {
            transition: color 0.2s linear;
            &:hover,
            &:focus {
                color: $hover-color;
            }
        }
    }
    &-columns {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-gap: 0 9rem;
        list-style: none;
    }
    &-title {
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 5.5rem;
    }
    &-list {
        list-style: none;
    }
    &-item {
        margin-bottom: 4rem;
    }
    &-link {
        font-weight: 300;
        color: inherit;
        display: inline-block;
        transition: color 0.2s linear;
        &:hover,
        &:focus {
            color: $hover-color;
        }
    }
    @media screen and (max-width: 1023px) {
        &-columns {
        grid-gap: 0 4rem;
        }
    }
    @media screen and (max-width: 767.98px) {
        &-header {
            margin-bottom: 5rem;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 5rem 0;
        }
        &-heading {
            text-align: center;
        }
        &-bottom {
            grid-template-columns: 1fr;
            grid-gap: 5rem 0;
          }
          &-social {
            margin-top: 4rem;
          }
          &-columns {
            grid-template-columns: 1fr;
            grid-gap: 3rem 0;
            text-align: center;

          }
        
    }
    

}