$text-color: #202930;
$text-light-color: #475C65;
$hover-color: rgb(245, 90, 62);
$light-blue: #daefff;
$gray: #f3f3f3;
$dark-gray: #9b9393;
$primary: rgb(81, 113, 241);
$secondary: rgb(254, 163, 27);
$gray-blur: #cec1c1;